# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Django
db.sqlite3
staticfiles/ # پوشه جمع‌آوری شده توسط collectstatic
media/

# Environment variables
.env
.env.*

# Docker
.dockerignore
docker-compose.override.yml

# Editor directories and files
.idea/
.vscode/
*.swp
*~